.chatInput__response {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  opacity: 0.8;
  margin: 0 4px;
}

.chatInput__response_icon {
  -webkit-user-select: none;
  align-items: center;
  border-radius: 2px;
  color: #ffffff;
  background-color: #ff6200;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 2px 4px;
}
