.chatInput__response {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  opacity: 0.8;
  margin: 0 4px;
}

.chatInput__response_icon {
  -webkit-user-select: none;
  align-items: center;
  border-radius: 2px;
  color: #ffffff;
  background-color: #ff6200;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 2px 4px;
}

.subContent_thread {
  position: relative;
  padding-bottom: 8px;
}

.subThread__header {
    display: flex;
    margin-right: auto;
    align-items: center;
    padding: 4px 8px;
    margin-bottom: 8px;
    font-weight: 600;
    background-color: #e6e6e6;
}

.subThread__close {
    font-size: 14px;
    margin-left: auto;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 26px;
    min-height: 26px;
    background-color: rgb(0, 106, 156);
    user-select: none;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 106, 156);
    border-image: initial;
    border-radius: 2px;
}
.subThread__body {
    position: relative;
    padding: 0 8px;
}
.subThread__body--overflow {
    padding-right: 21px;
}
.subThread__body--overflow:hover {
    border-radius: 3px;
    position: relative;
    overflow: scroll;
    background: #fff;
    margin: -5px;
    padding: 5px 16px 5px 5px;
}

.subThread__text {
    word-break: break-all;
}
